html,
body {
    background-color: #eee;
    font-family     : sans-serif;
    font-size       : 95%;
    margin          : 0px;
    overflow        : auto;
    /* hidden; */
    width           : 100%;
    height          : 100%;
}

h3,
h4 {
    color                  : #00A;
    margin                 : 2px;
    margin-top             : 2px;
    /*-webkit-margin-before: 0.4em;*/
    /*-webkit-margin-after :  0.04em;*/
}

.txtFPS,
.txtLogSpeed {
    font-family: monospace;
    font-size  : 1em;
    font-weight: bold;
    text-align : center;
    color      : #E33;
    width      : 3.5em;
}

.txtSF {
    font-family: monospace;
    font-size  : 1em;
    font-weight: bold;
    text-align : center;
    color      : #E33;
    width      : 4.5em;
}

.txtGloss {
    font-family: monospace;
    font-size  : 1em;
    font-weight: bold;
    text-align : center;
    color      : #E33;
    width      : 10em;
}

.divCtrlPanel {
    position: relative;
    margin  : 0px;
    border  : 1px solid;
    padding : 1ex;
}

.canvasAv {
    position: absolute;
    left    : 0px;
    top     : 0px;
    width   : 100%;
    height  : 100%;
    margin  : 0px;
    border  : 0px;
    padding : 0px;
}

.divAv {
    box-sizing: border-box;
    position  : relative;
    background: #A3B8D2;
    width     : 100%;
    height    : 100%;
    margin    : 0px;
    border    : 1px solid;
    padding   : 0px;
}

.CWASAAvatar {
    position  : relative;
    background: #A3B8D2;
    width     : 100%;
    height    : 100%;
    margin    : 0px;
    border    : 0px;
    padding   : 0px;
}

.CWASAGUI {
    text-align: center;
    position  : relative;
    margin    : 0px;
    border    : 0px;
    padding   : 0px;
}

.txtaSiGMLText,
.statusLog {
    font-family: monospace;
    font-size  : 0.9em;
    width      : 306px;
}

.txtSiGMLURL {
    font-family: sans-serif;
    font-size  : 0.9em;
    width      : 24em;
}

.statusExtra {
    font-family: sans-serif;
    font-size  : 0.8em;
    width      : 24em;
}

.spanInfo {
    font-size: 90%;
}

.stocApplet {
    visibility: hidden;
    height    : 1px;
}

.menuAv {
    font-family: sans-serif;
    font-size  : 0.9em;
    width      : 6em;
}

.displayed {}

.undisplayed {
    display: none;
}

/*--------*/